---
layout: default
---
{% unless site.data.resume %}
  <div class="post">

    <article>
      <object
        type="application/pdf"
        data="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}"
        width="600"
        height="700"
      >
      </object>
    </article>
  </div>
{% endunless %}
